In [1]:
import pandas as pd

In [2]:
zipcode = '97062'
filename = zipcode + '_homes_data.csv'
df = pd.read_csv(filename)
df.rename(columns={'Unnamed: 0': 'Address'}, inplace=True)

In [3]:
df

,Address,link,price,beds,baths,sqft,parking_total,garage_type,garage_spaces,hot_water_desc,...,cooling_yn,senior_community_yn,stories,style,yr_renovated,county,new_construction_yn,parking_features,has_hoa,lot_size_sqft
0,4535 SW Saum Way,https://www.redfin.com/OR/Tualatin/4535-SW-Sau...,"$760,000",4,3.0,"2,977",3.0,Attached,3.0,Gas,...,No,No,1.0,Single Family Residential,—,Clackamas County,No,NaN,NaN,NaN
1,23570 SW Vermillion Dr Unit H170,https://www.redfin.com/OR/Tualatin/23570-SW-Ve...,"$525,400",3,2.5,"1,781",2.0,Attached,2.0,"Gas, Tankless",...,Yes,No,—,Single Family Residential,—,Washington County,Yes,Driveway,Yes,NaN
2,8849 SW Vermillion Dr,https://www.redfin.com/OR/Tualatin/8849-SW-Ver...,"$599,900",4,2.5,"2,288",2.0,Attached,2.0,Tankless,...,No,No,—,Single Family Residential,—,Washington County,Yes,Driveway,Yes,NaN
3,8824 SW Talawa Dr,https://www.redfin.com/OR/Tualatin/8824-SW-Tal...,"$645,000",3,2.5,"2,052",2.0,"Attached, Extra Deep",2.0,Electricity,...,Yes,No,—,Single Family Residential,1978,Washington County,No,Driveway,NaN,"10,018"
4,5105 SW Greenwood Cir,https://www.redfin.com/OR/Tualatin/5105-SW-Gre...,"$745,000",4,2.5,"2,558",2.0,Attached,2.0,Gas,...,Yes,No,2.0,Single Family Residential,—,Clackamas County,No,"Driveway, On Street",NaN,"8,276"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,9435 SW Siletz Dr,https://www.redfin.com/OR/Tualatin/9435-SW-Sil...,"$575,000",4,3.0,"2,210",2.0,Attached,2.0,Gas,...,Yes,No,—,Single Family Residential,1985,Washington County,No,Driveway,NaN,"6,969"
144,21172 SW Iroquois Dr,https://www.redfin.com/OR/Tualatin/21172-SW-Ir...,"$552,500",3,2.0,"1,386",2.0,Attached,2.0,Gas,...,Yes,No,—,Single Family Residential,1989,Washington County,No,"Driveway, On Street",NaN,NaN
145,7380 SW Norwood Rd,https://www.redfin.com/OR/Tualatin/7380-SW-Nor...,"$1,526,000",6,5.0,"5,616",7.0,"Attached, Detached, Oversized",7.0,Electricity,...,Yes,No,—,Single Family Residential,2021,Washington County,No,"RV Access/Parking, Secured",NaN,"217,800"
146,10345 SW 103rd Ct,https://www.redfin.com/OR/Tualatin/10345-SW-10...,"$660,000",3,2.5,"1,698",2.0,Attached,2.0,Electricity,...,Yes,No,—,Single Family Residential,1976,Washington County,No,"Driveway, On Street",NaN,"9,147"
147,20020 SW 94th Pl,https://www.redfin.com/OR/Tualatin/20020-SW-94...,"$1,040,000",5,3.5,"3,004",2.0,Attached,2.0,Gas,...,Yes,No,—,Other,—,Washington County,Yes,Driveway,NaN,"6,098"

## Convert price to float, then remove any rows where values are null or not numeric where expected

In [4]:
df['price'] = df['price'].str.replace('[$,]', '', regex=True)
df = df[pd.to_numeric(df['price'], errors='coerce').notnull()]
df = df[pd.to_numeric(df['beds'], errors='coerce').notnull()]
df = df[pd.to_numeric(df['baths'], errors='coerce').notnull()]
df['sqft'] = df['sqft'].str.replace('[,]', '', regex=True)
df = df[pd.to_numeric(df['sqft'], errors='coerce').notnull()]
df = df[pd.to_numeric(df['yr_built'], errors='coerce').notnull()]

## Remove unexpected categorical values from style

In [5]:
styles = ['Single Family Residential', 'Condo/Co-op', 'Townhouse']
df = df[df['style'].isin(styles)]

## Explore count of unique and null values to determine which variables to use

In [6]:
column_stats = {}
for col in df.columns:
    column_stats[col] = {}
    column_stats[col]['value_count'] = df[col].value_counts()
    column_stats[col]['null_count'] = df[col].isna().sum()

for col in column_stats:
    print(col)
    print()
    print('VALUE COUNT')
    print('****************************')
    print(column_stats[col]['value_count'])
    print()
    print('NULL COUNT')
    print('****************************')
    print(column_stats[col]['null_count'])
    print('\n\n\n')

Address

VALUE COUNT
****************************
4535 SW Saum Way         1
10354 SW Koso St         1
8675 SW Sagert St        1
21129 SW 90th Ave        1
21797 SW Oak Hill Ln     1
                        ..
21415 SW 78th Ave        1
20275 SW Comanche Ter    1
19065 SW Tualasaum Dr    1
21090 SW 86th Ct         1
10345 SW 103rd Ct        1
Name: Address, Length: 107, dtype: int64

NULL COUNT
****************************
0




link

VALUE COUNT
****************************
https://www.redfin.com/OR/Tualatin/4535-SW-Saum-Way-97062/home/25979387         1
https://www.redfin.com/OR/Tualatin/10354-SW-Koso-St-97062/home/25750361         1
https://www.redfin.com/OR/Tualatin/8675-SW-Sagert-St-97062/home/26602589        1
https://www.redfin.com/OR/Tualatin/21129-SW-90th-Ave-97062/home/26732178        1
https://www.redfin.com/OR/Tualatin/21797-SW-Oak-Hill-Ln-97062/home/143066553    1
                                                                               ..
https://www.redfin.com/OR/Tualatin/21415-SW-78th-Ave-97062/home/26571738        1
https://www.redfin.com/OR/Tualatin/20275-SW-Comanche-Ter-97062/home/25825113    1
https://www.redfin.com/OR/Tualatin/19065-SW-Tualasaum-Dr-97062/home/25947980    1
https://www.redfin.com/OR/Tualatin/21090-SW-86th-Ct-97062/home/26581255         1
https://www.redfin.com/OR/Tualatin/10345-SW-103rd-Ct-97062/home/26684318        1
Name: link, Length: 107, dtype: int64

NULL COUNT
****************************
0




price

VALUE COUNT
****************************
655000    3
571000    2
565000    2
315000    2
300000    2
         ..
860000    1
233000    1
755000    1
884000    1
660000    1
Name: price, Length: 95, dtype: int64

NULL COUNT
****************************
0




beds

VALUE COUNT
****************************
3    50
4    30
2    20
5     6
6     1
Name: beds, dtype: int64

NULL COUNT
****************************
0




baths

VALUE COUNT
****************************
2.5    48
2.0    31
3.0    13
1.0     7
3.5     4
4.0     1
4.5     1
1.5     1
5.0     1
Name: baths, dtype: int64

NULL COUNT
****************************
0




sqft

VALUE COUNT
****************************
1129    8
1022    4
904     3
2977    1
1711    1
       ..
2647    1
1988    1
884     1
1894    1
1698    1
Name: sqft, Length: 95, dtype: int64

NULL COUNT
****************************
0




parking_total

VALUE COUNT
****************************
2.0    61
1.0    22
3.0    10
4.0     2
7.0     1
Name: parking_total, dtype: int64

NULL COUNT
****************************
11




garage_type

VALUE COUNT
****************************
Attached                                         64
Attached, Oversized                               9
Deeded                                            8
Other                                             4
Attached, Extra Deep                              3
Attached, Carport                                 2
Attached, Oversized, Tandem                       1
Attached, Partially Converted to Living Space     1
Detached                                          1
Attached, Carport, Oversized                      1
None                                              1
Attached, Tandem                                  1
Detached, Extra Deep, Oversized                   1
Attached, Extra Deep, Oversized                   1
Attached, Tuck-Under                              1
Attached, Detached, Oversized                     1
Name: garage_type, dtype: int64

NULL COUNT
****************************
7




garage_spaces

VALUE COUNT
****************************
2.0    61
1.0    22
3.0    10
4.0     2
7.0     1
Name: garage_spaces, dtype: int64

NULL COUNT
****************************
11




hot_water_desc

VALUE COUNT
****************************
Gas                                     49
Electricity                             37
Gas, Tank                                5
Electricity, Tank                        3
Gas, Tankless                            2
Gas, Recirculating                       1
Propane                                  1
Electricity, Gas                         1
Electricity, Solar Hot water             1
ENERGY STAR Qualified Equipment, Gas     1
Name: hot_water_desc, dtype: int64

NULL COUNT
****************************
6




fireplace_yn

VALUE COUNT
****************************
Yes    86
Name: fireplace_yn, dtype: int64

NULL COUNT
****************************
21




fireplace_total

VALUE COUNT
****************************
1.0    69
2.0    13
3.0     2
4.0     2
Name: fireplace_total, dtype: int64

NULL COUNT
****************************
21




basement

VALUE COUNT
****************************
Crawl Space                                                                     58
Daylight                                                                         2
Yes                                                                              2
Crawl Space, Finished                                                            2
Crawl Space, Exterior Entry, Storage Space                                       1
Finished, Full Basement                                                          1
No                                                                               1
Daylight, Finished, Separate Living Quarters/Apartment/Aux Living Unit           1
Crawl Space, Hatch Door                                                          1
Daylight, Full Basement                                                          1
Finished                                                                         1
Crawl Space, Unfinished                                                          1
Exterior Entry, Finished, Separate Living Quarters/Apartment/Aux Living Unit     1
Partially Finished                                                               1
Daylight, Finished                                                               1
Name: basement, dtype: int64

NULL COUNT
****************************
32




roof

VALUE COUNT
****************************
Composition             78
Composition, Shingle     6
Flat                     3
Metal                    3
Shingle                  2
Tile                     2
Shake                    1
Built-Up                 1
Hip                      1
Other                    1
Gable/Hip                1
Gable                    1
Membrane, Metal          1
Membrane                 1
Name: roof, dtype: int64

NULL COUNT
****************************
5




lot_size

VALUE COUNT
****************************
—                     23
7,841 square feet      9
6,970 square feet      8
6,098 square feet      7
7,405 square feet      7
8,276 square feet      6
9,148 square feet      4
4,356 square feet      3
9,583 square feet      3
5,663 square feet      3
8,712 square feet      3
10,454 square feet     2
5,227 square feet      2
0.29 acres             2
10,019 square feet     2
0.25 acres             2
5.55 acres             1
1.29 acres             1
4,792 square feet      1
6,611 square feet      1
3.18 acres             1
3,049 square feet      1
4.92 acres             1
1.69 acres             1
6,534 square feet      1
10,240 square feet     1
0.26 acres             1
1.84 acres             1
7,396 square feet      1
4,791 square feet      1
1.04 acres             1
0.79 acres             1
2.27 acres             1
1,742 square feet      1
3.75 acres             1
8,086 square feet      1
5 acres                1
Name: lot_size, dtype: int64

NULL COUNT
****************************
0




property_type

VALUE COUNT
****************************
Residential    101
Name: property_type, dtype: int64

NULL COUNT
****************************
6




main_level_area

VALUE COUNT
****************************
485      8
1,022    4
904      3
1,596    2
2,165    2
        ..
1,538    1
1,357    1
2,647    1
1,988    1
900      1
Name: main_level_area, Length: 83, dtype: int64

NULL COUNT
****************************
7




view_yn

VALUE COUNT
****************************
No     73
Yes    28
Name: view_yn, dtype: int64

NULL COUNT
****************************
6




yr_built

VALUE COUNT
****************************
1996    16
1980     8
1987     7
1976     6
2006     5
1972     5
1995     5
1993     4
1978     4
1981     4
1986     3
1984     3
1979     3
1994     3
2004     2
2015     2
1970     2
1992     2
2001     2
1983     2
1988     2
1989     2
1971     1
2018     1
2016     1
1985     1
1974     1
1945     1
1999     1
1998     1
2023     1
1973     1
2002     1
1975     1
2005     1
2007     1
2003     1
Name: yr_built, dtype: int64

NULL COUNT
****************************
0




fuel_desc

VALUE COUNT
****************************
Gas                          59
Electricity                  28
Electricity, Gas             10
Electricity, Wood Burning     2
Gas, Solar                    1
Electricity, Propane          1
Name: fuel_desc, dtype: int64

NULL COUNT
****************************
6




sewer

VALUE COUNT
****************************
Public Sewer                                                                                                                                                                                                         71
Septic Tank                                                                                                                                                                                                           9
Standard Septic                                                                                                                                                                                                       1
Exterior Maintenance, Management, Sewer, Trash, Water                                                                                                                                                                 1
Commons, Exterior Maintenance, Management, Sewer, Trash, Water                                                                                                                                                        1
Cable TV, Commons, Exterior Maintenance, Gym, Maintenance Grounds, Management, Meeting Room, Party Room, Pool, Recreation Facilities, Road Maintenance, Sewer, Spa/Hot Tub, Trash, Utilities, Water, Weight Room      1
All Landscaping, Cable TV, Commons, Gym, Maintenance Grounds, Management, Meeting Room, Party Room, Pool, Sewer, Spa/Hot Tub, Trash, Water, Weight Room                                                               1
All Landscaping, Cable TV, Commons, Exterior Maintenance, Laundry, Maintenance Grounds, Management, Party Room, Pool, Recreation Facilities, Sewer, Spa/Hot Tub, Trash, Water, Weight Room                            1
Commons, Exterior Maintenance, Gym, Insurance, Sewer, Spa/Hot Tub, Trash, Water                                                                                                                                       1
All Landscaping, Commons, Exterior Maintenance, Gas, Insurance, Management, Pool, Sewer, Trash, Water                                                                                                                 1
Cable TV, Commons, Maintenance Grounds, Management, Sewer, Spa/Hot Tub, Trash                                                                                                                                         1
Commons, Exterior Maintenance, Front Yard Landscaping, Insurance, Maintenance Grounds, Management, Sewer, Water                                                                                                       1
All Landscaping, Exterior Maintenance, Gym, Management, Pool, Sewer, Trash, Water                                                                                                                                     1
Exterior Maintenance, Gym, Internet, Party Room, Pool, Sewer, Trash                                                                                                                                                   1
All Landscaping, Commons, Exterior Maintenance, Front Yard Landscaping, Pool, Sewer, Trash                                                                                                                            1
All Landscaping, Cable TV, Commons, Gym, Meeting Room, Pool, Sewer, Spa/Hot Tub, Trash, Water, Weight Room                                                                                                            1
Septic Tank, Standard Septic                                                                                                                                                                                          1
Commons, Exterior Maintenance, Insurance, Maintenance Grounds, Management, Pool, Sewer, Spa/Hot Tub, Trash, Water                                                                                                     1
All Landscaping, Commons, Exterior Maintenance, Gas, Insurance, Maintenance Grounds, Management, Pool, Sewer, Spa/Hot Tub, Trash, Water                                                                               1
All Landscaping, Cable TV, Commons, Exterior Maintenance, Front Yard Landscaping, Maintenance Grounds, Management, Meeting Room, Pool, Recreation Facilities, Road Maintenance, Sewer, Snow Removal, Trash, Water     1
Commons, Exterior Maintenance, Insurance, Management, Pool, Sewer, Spa/Hot Tub, Trash, Water                                                                                                                          1
Commons, Exterior Maintenance, Gym, Maintenance Grounds, Management, Meeting Room, Pool, Recreation Facilities, Sewer, Spa/Hot Tub, Trash, Water                                                                      1
All Landscaping, Commons, Exterior Maintenance, Front Yard Landscaping, Internet, Management, Pool, Sewer, Trash, Water                                                                                               1
Name: sewer, dtype: int64

NULL COUNT
****************************
6




cooling_yn

VALUE COUNT
****************************
Yes    75
No     26
Name: cooling_yn, dtype: int64

NULL COUNT
****************************
6




senior_community_yn

VALUE COUNT
****************************
No    98
Name: senior_community_yn, dtype: int64

NULL COUNT
****************************
9




stories

VALUE COUNT
****************************
—      96
1.0     7
2.0     4
Name: stories, dtype: int64

NULL COUNT
****************************
0




style

VALUE COUNT
****************************
Single Family Residential    84
Condo/Co-op                  23
Name: style, dtype: int64

NULL COUNT
****************************
0




yr_renovated

VALUE COUNT
****************************
1996    14
—       13
2006     6
1985     5
2000     5
1987     5
1990     4
1995     4
1993     3
2001     3
1978     3
1992     3
1994     3
1991     2
1980     2
2015     2
1999     2
1976     2
1986     2
1983     2
2004     2
1981     2
1972     2
1989     1
2010     1
2012     1
1979     1
1974     1
1984     1
2018     1
2016     1
1975     1
1998     1
2023     1
2020     1
2005     1
1988     1
2007     1
2021     1
Name: yr_renovated, dtype: int64

NULL COUNT
****************************
0




county

VALUE COUNT
****************************
Washington County    95
Clackamas County     12
Name: county, dtype: int64

NULL COUNT
****************************
0




new_construction_yn

VALUE COUNT
****************************
No     100
Yes      1
Name: new_construction_yn, dtype: int64

NULL COUNT
****************************
6




parking_features

VALUE COUNT
****************************
Driveway                          31
Driveway, On Street               24
Driveway, RV Access/Parking        9
Driveway, Off Street               5
RV Access/Parking                  3
Driveway, Parking Pad              2
Covered, Off Street                2
Driveway, EV Ready                 2
Deeded, Secured                    2
Covered, RV Access/Parking         1
Deeded                             1
Carport, Covered                   1
Other                              1
Covered, Driveway                  1
Carport, Driveway                  1
Off Street                         1
Deeded, Off Street                 1
Parking Pad, RV Access/Parking     1
On Street                          1
Covered, Secured                   1
Off Street, Secured                1
RV Access/Parking, Secured         1
Name: parking_features, dtype: int64

NULL COUNT
****************************
14




has_hoa

VALUE COUNT
****************************
Yes    37
Name: has_hoa, dtype: int64

NULL COUNT
****************************
70




lot_size_sqft

VALUE COUNT
****************************
6,969      9
7,840      7
6,098      7
8,276      7
9,147      4
7,405      4
8,712      3
4,356      3
9,583      3
10,018     2
4,791      2
12,632     2
5,662      2
6,534      1
241,758    1
3,049      1
10,890     1
73,616     1
56,192     1
5,227      1
214,315    1
45,302     1
138,520    1
11,325     1
80,150     1
10,454     1
34,412     1
98,881     1
1,742      1
163,350    1
217,800    1
Name: lot_size_sqft, dtype: int64

NULL COUNT
****************************
34

## Dropping rows that seem too messy

In [7]:
dropped_columns = ['parking_features',
                   'parking_total',
                   'garage_type',
                   'garage_spaces',
                   'hot_water_desc',
                   'fireplace_yn',
                   'fireplace_total',
                   'basement',
                   'roof',
                   'lot_size',
                   'property_type',
                   'main_level_area',
                   'fuel_desc',
                   'sewer',
                   'stories',
                   'yr_renovated',
                   'lot_size_sqft']
df = df.drop(columns=dropped_columns)

## Feature Engineering

### I will clean view, cooling, senior community, new construction, and HOA features before converting them to dummy variables

In [8]:
features = ['view_yn', 'cooling_yn', 'senior_community_yn', 'new_construction_yn', 'has_hoa']

for feature in features:
    df[feature] = df[feature].fillna('No')
    df = df[df[feature].isin(['Yes', 'No'])]

In [9]:
df

,Address,link,price,beds,baths,sqft,view_yn,yr_built,cooling_yn,senior_community_yn,style,county,new_construction_yn,has_hoa
0,4535 SW Saum Way,https://www.redfin.com/OR/Tualatin/4535-SW-Sau...,760000,4,3.0,2977,No,1992,No,No,Single Family Residential,Clackamas County,No,No
3,8824 SW Talawa Dr,https://www.redfin.com/OR/Tualatin/8824-SW-Tal...,645000,3,2.5,2052,No,1978,Yes,No,Single Family Residential,Washington County,No,No
4,5105 SW Greenwood Cir,https://www.redfin.com/OR/Tualatin/5105-SW-Gre...,745000,4,2.5,2558,No,1989,Yes,No,Single Family Residential,Clackamas County,No,No
6,22305 SW Taylors Dr,https://www.redfin.com/OR/Tualatin/22305-SW-Ta...,666888,3,2.5,2504,No,1996,Yes,No,Single Family Residential,Washington County,No,No
7,7007 SW Robbins Rd,https://www.redfin.com/OR/Tualatin/7007-SW-Rob...,850000,3,2.0,1418,Yes,1995,Yes,No,Single Family Residential,Washington County,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,8294 SW Mohawk St,https://www.redfin.com/OR/Tualatin/8294-SW-Moh...,227500,2,1.0,904,No,1980,No,No,Condo/Co-op,Washington County,No,Yes
143,9435 SW Siletz Dr,https://www.redfin.com/OR/Tualatin/9435-SW-Sil...,575000,4,3.0,2210,No,1978,Yes,No,Single Family Residential,Washington County,No,No
144,21172 SW Iroquois Dr,https://www.redfin.com/OR/Tualatin/21172-SW-Ir...,552500,3,2.0,1386,No,1979,Yes,No,Single Family Residential,Washington County,No,No
145,7380 SW Norwood Rd,https://www.redfin.com/OR/Tualatin/7380-SW-Nor...,1526000,6,5.0,5616,Yes,2003,Yes,No,Single Family Residential,Washington County,No,No
146,10345 SW 103rd Ct,https://www.redfin.com/OR/Tualatin/10345-SW-10...,660000,3,2.5,1698,No,1976,Yes,No,Single Family Residential,Washington County,No,No

In [10]:
df.to_csv(f'{zipcode}_homes_data_cleaned.csv', index=False)